@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Source+Code+Pro:wght@300;400;500&family=Stick+No+Bills:wght@200;300;400&display=swap');
*{
    margin: 0;
    padding: 0;
}

:root{
    --main-text-color: #9FA7D8;
    --secondary-text-color: #D04F4E;
    --main-box-color: #57527E;
    --secondary-box-color: #848AB1;
}

body{
    background-color: #210F28;
    color: var(--main-text-color);
    font-family: "Roboto", sans-serif;
}

.highlight-green{
    color: #1ce4ae;
}


header{
    position: relative;
    margin-top: 5vh;
}

#siteTitle{
    text-align: center;
    font-family: "Stick No Bills", sans-serif;
    font-size: 4.5vw;
    font-weight: 300;
    letter-spacing: 0.15em;
}

#githubIcon{
    position: absolute;
    height: 75%;
    aspect-ratio: 1/1;
    top:18%;
    right: 15%;
}
    #githubIcon img{
        width: 100%;
        height: 100%;
    }

#downloadLinks{
    margin-top: 4vh;
    width: 50%;
    margin-left: 25%;
}
    .download-link{
        width: 100%;
        margin: 2vh 0;
    }
        .download-link .title{
            color: var(--secondary-text-color);
            font-size: 1.2vw;
            font-weight: 700;
        }
        .download-link .link{
            display: inline-block;
            width: 98%;
            font-size: 0.7vw;
            padding: 1vh 0 1vh 2%;
            background-color: #33143D;
            border: 1px solid #606060;
            user-select: all;
            cursor:text;
            font-family: "Source Code Pro", monospace;
        }